/* https://fonts.google.com/specimen/Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

#banner {
    width: 100%;
    height: 260px;
    object-fit: cover;
    font-weight: normal;
    text-align: center;
}

/* Controls the main layout of the website. */
.background {
    background-image: linear-gradient(white, whitesmoke)!important;
}

.mainCode {
    /* On change for height, change this to navbar.html's navbar equal to  (navbar-height - 100) # 100 - 5 Curr. */
    height: 92vh; 
    color: #1c1c1c;
}


/* login.html */

.loginBox {
    background-color: whitesmoke;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    height: 40%;
    box-shadow: 1px 3px 3px #565c75;
    padding: 50px;
}

.loginBox > h2 {
    color: #292a30;
}
