
#banner {
    width: 100%;
    height: 260px;
    object-fit: cover;
    font-weight: normal;
    text-align: center;
}

#resume  {
    background : lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Fills page height and width */
    min-height: 100vh; 
    min-width: 100vw;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;  
}

.container .leftBar {
    position: relative;
    background: #003147;
    padding: 40px;
}

.container .rightBar {
    position: relative;
    background: #fff;
    padding: 40px;
}