<!DOCTYPE html> 
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Resume</title>
        <link rel="stylesheet" href="/static/resume.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <body class="mainBackground">
        {% include 'navbar.html' %}
        <!--
            container is the reason that this is staying centered.
            so use this for now :) 

            Note, that container is handling the width. So when you remove this later it'll change.

            also note containter is the reason why 
        -->
        <div id="resume" class="container text-white centeredColumn">
            <div class="row">
                <div class="leftCol p-2 col-3">
                    <div class="d-flex flex-column">
                        <img class="align-items-center" src="static/pfp.jpg">
                        <div class="p-2 bLine" >
                            <h3><b>Sean Perry</b></h3>
                            <h4>Data Engineer</h4>
                        </div>
                        <div class="myResources">
                            <h4>Contact Info</h4>
                            <ul class="list-group list-group-flush ">
                                <li class="list-group-item">
                                    <i class="fa-solid fa-phone"></i> 1-760-000-0000
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-regular fa-envelope"></i> seanep94@gmail.com
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-brands fa-linkedin"></i> <a href='https://www.linkedin.com/in/seanp1994/'>LinkedIn</a>
                                </li>
                                <li class="list-group-item">
                                     <i class="fa-brands fa-github"></i> <a href="https://github.com/SeanP94">GitHub</a>
                                </li>
                                <li class="list-group-item">
                                    <i class="fa-solid fa-location-dot"></i> Riverside, California
                                </li>
                            </ul>
                            <h4>Education</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <span style="color: lightblue;"><h6><b>Bachelors Of Science in Computer Science</b></h6></span> 
                                    <span style="color: lightcyan">January 2020 - May 2023</span><br>
                                    <a href='https://www.csusm.edu/'>California State University San Marcos</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="rightCol p-2 col-9">
                    <div class="container">
                        <h2>Summary</h2>
                        <p>
                            &nbsp; Data-oriented professional with experience with data classification, data cleansing, extracting information, utilizing SQL and pythons data library. I am open and willing to develop new skill sets and utilize my current skills in new ways. I am aiming to leverage both my skills and willingness to learn to successfully fill the role on your team.
                        </p>        

                        <h2>Skillset</h2>
                        <ul class="list-group list-group-flush infoList bLine">
                            <li class="list-group-item infoList d-flex flex-row">
                                <div class="p-2" ><b>Programming Languages<br>Experienced<br>Working Familiarity</b></div>
                                <div class="p-2"><br>Python, MySQL, C++<br>C#, C, GO, Javascript, HTML, CSS, Microsoft SQL Server</div>
                            </li>
                            <li class="list-group-item infoList d-flex flex-row">
                                <div class="p-2"><b>Signficant Libraries</b></div>
                                <div class="p-2">Pandas, Numpy, Scikit-Learnm, Seaborn, Flask, Matplotlib, Tkinter</div>
                            </li>
                            <li class="list-group-item infoList d-flex flex-row">
                                <div class="p-2"><b>General Skills</b></div>
                                <div class="p-2">Linux, Windows, Software Development, Excel, Data Analyst, Data Cleansing, Pipeline Development, Restful API's, Database Design, Team Management</div>
                            </li>
                        </ul>

                        <h2>Job Experience</h2>
                        <ul class="list-group list-group-flush infoList">
                            <li class="list-group-item infoList">
                                <div class="row">
                                    <div class="col-3">
                                        <h5>PIRCH</h5>
                                        <h6><i>Data Analyst</i></h6>
                                        10/2021 - Present
                                    </div>
                                    <div class="col-9">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item infoList">
                                                Performed data analysis of large datasets using techniques such as linear regression and predictive modeling.
                                            </li>
                                            <li class="list-group-item infoList">
                                                Responsible for processing and cleaning incoming data from over 300 sources/vendors.
                                            </li>
                                            <li class="list-group-item infoList">
                                                Optimized existing processes by leveraging automation tools such as Python scripting language
                                            </li>
                                            <li class="list-group-item infoList">
                                                Created SQL queries to extract data from multiple sources for reporting purposes
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item infoList">
                                <div class="row">
                                    <div class="col-3">
                                        <h5>Waterstone Faucets</h5>
                                        <h6><i>CAD Drafter</i></h6>
                                        10/2019 - 10/2021
                                    </div>
                                    <div class="col-9">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item infoList">
                                                Designed mechanical drafts and helped with minor mechanical engineering tasks.
                                            </li>
                                            <li class="list-group-item infoList">
                                                Utilized Javascript, HTML, and CSS to work on functionality on the company website.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="list-group-item infoList">
                                <div class="row">
                                    <div class="col-3">
                                        <h5>Pacific Sales</h5>
                                        <h6><i>Customer Service Supervisor</i></h6>
                                        10/2016 - 10/2019
                                    </div>
                                    <div class="col-9">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item infoList ">
                                                Designed mechanical drafts and helped with minor mechanical engineering tasks.
                                            </li>
                                            <li class="list-group-item infoList">
                                                Utilized Javascript, HTML, and CSS to work on functionality on the company website.
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    </body>
</html>